*.o
/*.glade~
/libzmqu.a
/rplay
/rplayc
/grplay
/remoteplayer.config
/remoteplayer.creator
/remoteplayer.creator.user
/remoteplayer.files
/.sconsign.dblite
version.cpp
/test/exp_player
/test/player_with_playback_info
/test/test_player
/test/test_watch_alert
/test/utest
/data/test.opus
/docs/*.swp
/docs/*.swo
